
body {
    height:100vh;
    width:1000;
    margin:0;
    font-size:14px;
    font-family: Arial, Helvetica, sans-serif;
} 

.main-structure {
    flex:1;
    padding: 20px;
    display:flex;    
    flex-direction:column;
    flex-wrap:wrap;
        
}

.header1, .intro {        
    background: black;
    color:white;    
}

.intro {
    margin-bottom:10px;
    padding:80px;
}

.header1 {  
    display:flex;
    padding: 10px 80px;
    justify-content: space-between;
    align-items: center;       
}

.logo, .action-text {
    font-size:24px;  
    font-weight:700;
}

.right-links {
    list-style-type: none;
    display:flex;
    gap:16px;
}


.intro {    
    height:fit-content;    
    display:flex;
    justify-content: space-between;
    align-items:center;
    
}

.left-intro {
    width: 400px;
    display:flex;
    flex-direction: column;
    gap:16px;
    
}

.intro-text {
    font-size: 48px;
    font-weight:bold;
}

.button-signup-top, .button-signup-bottom  {
    box-sizing:border-box;
    line-height: 30px;  
    border-radius:8px;
    background: #3882f6;
    width:100px;
    height:30px;
    color:white;
    text-align: center;    
    font-weight:bold; 
}

.image-box {
    width: 500px;
    height: 250px;
    box-sizing: border-box;
    line-height:250px;
    background: slategray;
    color:white;
    text-align: center;  
}

.information {
    margin-bottom:10px;
    padding:100px;
    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;
    gap: 40px;
}

.text1 {
    font-size:36px;
    font-weight:900;
    color:#1F2937;
}

.image-holder {
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-evenly;  
}

.box  {
    flex:1;
    box-sizing: border-box;
    line-height:150px;
    width: 150px;
    height: 150px;
    border: 2px solid #3882f6;
    border-radius: 16px;
    color:white;
    text-align: center;    
}

.image-display {
    display:flex;
    align-items:center;
    justify-content: center;
    gap:40px;
}

.image-holder {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-content:center;
    gap:16px;
}

.caption-1 {
    text-align: center;
    color:slategray;
}

.quote {
    margin-bottom:50px;
    padding: 100px 250px;    
    display:flex;
    flex-direction: column;
    background:#e5e7eb;
    justify-content:center;    
}

.quote-text {
    font-size: 36px;
    font-weight:100;
    color:#1F2937;
    font-style:italic;
}

.quote-signature {
    font-size:18px;
    text-align: right;
}

.action-signup {
    margin:80px;
    padding: 50px;
    border:none;
    border-radius:16px;
    background:#3882f6;
    color:white;
    display:flex;
    justify-content:space-between;
    gap:16px;
}

.button-signup-bottom {
    border:white;
    border-width: 2px;
    border: 1px solid white;
    text-align: center;
}

.footer {
    background: #1f2937;
    height:40px;
    margin-top:40px;
    padding: 8px 16px;    
    color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    gap: 10px;
}

a {
    text-decoration: none;
    color:white;    
}


